{% extends 'layout.html' %}
{% block title %}Header/Footer{% endblock %}
{% block header %} DUST, portalen for glede i ein elles vrien språkleg kvardag. {% endblock %}
{% block content %}

<div class="pure-g">

    <div class="pure-u-1-5"></div>

    <div class="pure-u-3-5">

        {% include 'inputBox.html' %}

        <h2>Og vidare kan me lese om følgjande utvikling</h2>
        <p>Ein mann frå Florø vart observert programmerande på ein buss natt til fredag. Vitner kan meddele om
            ville blikk og utydelege variabelnamn. Vi følgjer saken tett. <br/><br/>I andre nyhende har skogseigar og
            entrepenør Gunde Vannplask auka bemanninga før årets greinkløpp.  Vannplask lovar lokalbefolkninga at
            årets hending blir eit syn for både store og små. <br/><br/>Til slutt, dagens gladnyhende. Vår eigen
            Gunfrid Bakbrei ventar avkom seinare dette året, vi i redaksjonen gratulerer Bakbrei samt donor Lysvik
            Slustein. </p>

    </div>

    <div class="pure-u-1-5"></div>

</div>

{% include 'charts.html' %}





{% endblock %}