{% extends 'layout.html' %}
{% block title %}Difi - Språk{% endblock %}
{% block header %} Om prosjektet {% endblock %}
{% block menu %} {% include 'menuNynorsk.html' %}{% endblock %}
{% block content %}

<div class="pure-g">
    <div class="pure-u-1-12"></div>
    <div class="pure-u-20-24">
        <h1>Motivasjon</h1>
        <p>Prosjektet har som mål å vise at analysen av målbruk i offentleg sektor kan vere meir effektiv enn det den er i dag.
            I dag blir denne sett på som ein av mange tidstjuvar, men mykje av det manuelle arbeidet kan automatiserast.</p>
        <h1>Metode</h1>
        <p>Tilnærminga som blir brukt er basert på "big-data". Me samlar inn store mengder tekst frå det statlege sine nettsider, offentlege dokument og aktivitet på sosiale media.
            For å finne domene som er knytta til ein etat, nyttar me Norid si oversikt.
            Deretter kan me bruke ei løysnning som identifiserer kva språk teksten er skriven på.
            Denne informasjonen blir lagra, og kan nyttast til å analysere og presentere klare data om blant anna målform.</p>
        <h1>Rom for feil</h1>
        <p>Som dei fleste andre løysningar, er ikkje denne heilt feilfri.</p>
        <h3>Me har ingen garantiar for at...</h3>
        <ul>
            <li>Me har fått med oss informasjon frå alle offentlege kjelder som er knytta til ein etat.</li>
            <li>Språkanalysen er 100% korrekt.</li>
            <li>Nettsider og dokument held det formatet me forventar</li>
            <ul>
                <li>Mange stader blir det nytta utdaterte metodar, eller metodar som er utanfor standarden. Det er ikkje alltid enkelt å ta hensyn til alle dei ulike løysningane.</li>
                <li>Mange nettstader har ei mengd utdaterte lenkjer, noko som gjer at me ikkje kjem til all informasjonen som ligg der.</li>
            </ul>
        </ul>
        <h1>Kjeldetypar</h1>
        <p>Dataa som blir samla inn, er delt inn i fire ulike kategoriar. </p>
        <h3>Filer</h3>
        <p>Dette er filer som har som mål å informere om noko. Det vil seie filer av typen .pdf som ikkje inneheld skjemaelement. Desse blir henta ut frå nettstadene som er registrert på etaten.</p>
        <h3>Skjema</h3>
        <p>Filer som kan endrast av brukar, for eksempel .docx og .odt, blir rekna som skjema. Her skal også webskjema kome etter kvart, men grunna stor skilnad i oppsett er dei vanskelege å kjenne att. </p>
        <h3>Web</h3>
        <p>All tekst me har samla inn frå nettstader som er registrert på ein bestemt etat.</p>
        <h3>Twitter</h3>
        <p>Tekst frå etaten sin konto på Twitter.</p>
        <h3>Facebook</h3>
        <p>Tekst frå etaten sin konto på Facebook.</p>
        <h1>Vegen vidare</h1>
        <p>Kva kan me bruke dette til? Draumen er at denne løysninga til slutt kan erstatte den manuelle rapporteringa som blir gjort i dag.
            I det minste håpar me at den kan inspirere språkrådet til å prøve ut alternative løysningar.</p>
    </div>
</div>
{% endblock %}
