<br/><br/>



<div class = "pure-g">



          <div class = "pure-u-20-24">



              <br/><br/>

              <select class="html-multi-chosen-select" multiple="multiple">
                  <option value="difi">Difi</option>
                  <option value="complex">Kompleksitet</option>
                  <option value="agency">Etater</option>

              </select>

            </div>

            <button id ="button"> Søk</button>






</div>




<br/><br/>

