<div class="pure-menu custom-restricted-width">
    <span class="pure-menu-heading">MENY</span>

    <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="/nn" class="pure-menu-link">Heim</a></li>
        <li class="pure-menu-item"><a href="/total_nn" class="pure-menu-link">Difi</a></li>
        <li class="pure-menu-item"><a href="/complex_nn" class="pure-menu-link">Kompleksitet</a></li>
        <li class="pure-menu-item"><a href="/agency_nn" class="pure-menu-link">Etatar</a></li>

    </ul>
</div>