<div class="pure-menu custom-restricted-width">
    <span class="pure-menu-heading">MENY</span>

    <ul class="pure-menu-list">


        <li class="pure-menu-item"><a id = "home" href = "/" class="pure-menu-link">Home</a></li>
        <li class="pure-menu-item"><a id = "difi" href = "/total" class=" pure-menu-link">Difi</a></li>
        <li class="pure-menu-item"><a id = "complex" href="/complex" class=" pure-menu-link">Kompleksitet</a></li>
        <li class="pure-menu-item"><a id = "agency" href="/agency" class=" pure-menu-link">Etater</a></li>
    </ul>
</div>



