<div class="pure-menu custom-restricted-width">
    <span class="pure-menu-heading">MENY</span>

    <ul class="pure-menu-list">


        <li class="pure-menu-item"><a href ="/" class="pure-menu-link">Hjem</a></li>
        <li class="pure-menu-item"><a href ="/total" class="pure-menu-link">Difi</a></li>
        <li class="pure-menu-item"><a href="/complex" class="pure-menu-link">Kompleksitet</a></li>
        <li class="pure-menu-item"><a href="/agency" class="pure-menu-link">Etater</a></li>
    </ul>
</div>



