<nav>
    <div>
        <div class="menu-button">Meny</div>
        <ul class="menu with-js opacity sn-screen" data-breakpoint="991">
            <li class="first leaf"><a id="home" href="/nn"><span class="buttonText">Heim</span></a>
            <li class="leaf"><a id="complex" href="/complex_nn"><span class="buttonText">Kompleksitet</span></a>
            <li class="leaf"><a id="agency" href="/agency_nn"><span class="buttonText">Etat</span></a>
            <li class="last"><a id="difi" href="/total_nn"><span class="buttonText">Totalt</span></a>
            <li class="last leaf"><a id="nynorsk_o_meter" href="/nynorsk_o_meter_nn"><span class="buttonText">Nynorsk-o-meteret</span></a>
        </ul>
    </div>
    <div class="seperator">
        <hr>
    </div>
</nav>