<nav>
    <div>
        <div class="menu-button">Meny<span class="touch-button"><div class="navicon-line"></div><div
                class="navicon-line"></div><div class="navicon-line"></div></span></div>
        <ul class="menu with-js opacity sn-screen" data-breakpoint="991">
            <li class="first expanded item-with-ul"><a id="home" href="/nn"><span class="buttonText">Heim</span></a>
                <ul class="menu">
                </ul>
                <span class="touch-button"><i class="navicon">▼</i></span></li>
            <li class="expanded item-with-ul"><a id="complex" href="/complex_nn"><span class="buttonText">Kompleksitet</span></a>
                <ul class="menu"></ul>
                <span class="touch-button"><i class="navicon">▼</i></span></li>
            <li class="expanded item-with-ul"><a id="agency" href="/agency_nn" class="active"><span class="buttonText">Etat</span></a>
                <ul class="menu"></ul>

                <span class="touch-button"><i class="navicon">▼</i></span></li>
            <li class="last expanded item-with-ul"><a href="/total"><span class="buttonText">Totalt</span></a>
                <ul class="menu">
                </ul>
                <span class="touch-button"><i class="navicon">▼</i></span></li>
        </ul>
    </div>
    <div class="seperator">
        <hr>
    </div>
</nav>