{% extends 'layout.html' %}
{% block title %}DifiTotal{% endblock %}
{% block header %} DUST, portalen for glede i ein elles vrien språkleg kvardag. {% endblock %}
{% block menu %} {% include 'menuNynorsk.html' %}{% endblock %}
{% block content %}

<div class="pure-g">
    <div class="pure-u-1-12"></div>
    <div class="pure-u-7-12">
        <h2>Og kva seier dette da?</h2>
        <p>Som einkvar stolt statleg etat, følgjer Difi også Noreg sitt språkråd sitt lovverk om nynorskandel. Men er dette nok
            da?!</p>
        <legend>Velg etat</legend>
        <div width="100%" id="ownersDropDown"></div>
        <div class="pure-button" id="ownerSelectButton">Gå</div>
        <br/><br/>
        <div id="piechart"></div>
    </div>
    <div class="pure-u-1-12"></div>
    <div class="pure-u-1-12"></div>
</div>


{% endblock %}
